<div class="row justify-content-md-center justify-content-sm-center">
  <div class="col-sm col-md text-center">
    <h4>Willkommen zum Sternkatalog!</h4>
    <p>Als Gast können Sie keine Daten ändern.
      Um die Daten zu bearbeiten melden Sie sich bitte an(Mail: test@mail.de, Passwort: passwort oder mit eigenen Daten).
      <br>
      Kein Konto? Dann sofort registrieren!(Keine echte Daten benötigt)</p>
    <button type="button" class="btn btn-outline-primary" routerLink="/signin">Anmelden</button>
    <button type="button" class="btn btn-outline-primary" routerLink="/signup">Registrieren</button>
  </div>
</div>
