<div class="row justify-content-md-center justify-content-sm-center limited-height">
  <div class="col-sm-10 col-md-8 text-center vertical-center">
    <div *ngIf="!auth.isLoggedIn();else infoBlock">
      <h4>Willkommen zum Sternkatalog!</h4>
      <p>Als Gast können Sie keine Daten ändern.
        Um die Daten zu bearbeiten melden Sie sich bitte an(Mail: test@testmail.de, Passwort: passwort oder mit eigenen
        Daten).
        <br>
        Kein Konto? Dann sofort registrieren!(Keine echte Daten benötigt)</p>
      <p>
        <a type="button" class="btn btn-primary" routerLink="/signin">Anmelden</a> &nbsp;
        <a type="button" class="btn btn-primary" routerLink="/signup">Registrieren</a>
      </p>
    </div>
    <ng-template #infoBlock>
      <h4>Sie sind eingeloggt und berechtigt die Daten zu ändern. Bitte fühlen Sie sich frei, neue Sterne zu
        registrieren, bearbeiten und löschen.</h4>
    </ng-template>
  </div>
</div>
