<div class="card bg-light text-dark padding-bottom">
  <div class="card-header"><h3>{{selectedStar.name}}</h3></div>
  <div class="card-body">
    <table class="table table-borderless table-hover">
      <tbody>
      <tr>
        <td><strong>Spektraltyp des Sterns:</strong></td>
        <td>{{selectedStar.spectralType}}</td>
      </tr>
      <tr>
        <td><strong>Masse:</strong></td>
        <td>{{selectedStar.solarMass}} <em tooltip="Sonnenmasse">M☉</em></td>
      </tr>
      <tr>
        <td><strong>Radius:</strong></td>
        <td>{{selectedStar.solarRadius}} <em tooltip="Sonnenradius">R☉</em></td>
      </tr>
      <tr>
        <td><strong>Effektive Temperatur: </strong></td>
        <td>{{selectedStar.effectiveTemperature}} <em tooltip="Kelvin">K</em></td>
      </tr>
      <tr>
        <td><strong>Entfernung zur Erde: </strong></td>
        <td>{{selectedStar.distance}} <em tooltip="Lichtjahr">Lj</em></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <h5>Umkreisende Planeten:</h5>
    <ul class="list-group">
      <a role="menuitem" class="list-group-item" *ngFor="let planet of selectedStar.orbitingPlanets"
         (click)="onPlanetSelected(planet)" style="cursor: pointer">{{planet.planetName}}</a>
    </ul>
  </div>
</div>
