<h2>Neuen Stern hinzufügen</h2>
<div class="form-group">
  <label for="starName">Name des Sterns:</label>
  <input type="text" class="form-control" id="starName"  #starName>
</div>
<form class="form-inline">
  <div class="form-group">
    <label for="starClass">Klasse:</label>
    <input type="text" class="form-control" id="starClass"  #starClass>
  </div>
  <div class="form-group">
    <label for="solarMass">Sonnenmasse:</label>
    <input type="text" class="form-control" id="solarMass" #solarMass>
  </div>
</form>
<div class="form-group">
  <label for="distance">Entfernung:</label>
  <input type="text" class="form-control" id="distance" #distance>
</div>
<h4>Umkreisende Planeten:</h4>
<div *ngFor="let planet of planets">{{planet.name}}</div>
<div class="form-group">
  <label for="planetName">Name:</label>
  <input type="text" class="form-control" id="planetName" #planetName>
</div>
<div class="form-group">
  <label for="planetMass">Masse:</label>
  <input type="text" class="form-control" id="planetMass" #planetMass>
</div>
<button class="btn-primary" (click)="onAddPlanet()">Hinzufügen</button>
<hr>
<div class="btn-group">
  <button class="btn btn-primary" (click)="onAddToList()">Speichern</button>
  <button class="btn btn-danger" (click)="onCancel()">Verwerfen</button>
</div>
