.inline-header{
  display: inline-block;
}

.card {
  margin-bottom: 2px;
}
.comment-light{
  color: grey;
}
.help-right{
  float: right;
  color: red;
}
.label-block{
  display: block;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
