<h2>Neuen Stern hinzufügen</h2>

<form [formGroup]="newStarForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="starName">Name des Sterns:</label>
    <span class="help-block"
          *ngIf="!newStarForm.get('starName').valid && newStarForm.get('starName').touched"
          style="float: right; color: red">Pflichtfeld*</span>
    <input type="text" class="form-control" formControlName="starName" id="starName">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="starClass">Spektraltyp:</label>
      <input type="text" class="form-control" formControlName="starClass" id="starClass">
    </div>
    <div class="form-group col-md-6">
      <label for="solarMass">Sonnenmasse:</label>
      <input type="text" class="form-control" formControlName="solarMass" id="solarMass">
    </div>
  </div>
  <div class="form-group">
    <label for="distance">Entfernung von der Erde:</label>
    <input type="text" class="form-control" formControlName="distance" id="distance">
  </div>
  <hr>
  <h4>Umkreisende Planeten:</h4>
  <div class="btn-group" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic">
      Hinzufügen<span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item">Neu erstellen</a></li>
      <li role="menuitem"><a class="dropdown-item">Aus vorhandenen wählen</a></li>
    </ul>
  </div>
  <div *ngFor="let planet of planets"><span>{{planet.name}}  </span>
    <i role="button" class="fa fa-minus-square-o" style="cursor: pointer" (click)="onRemovePlanet(planet)"></i></div>
  <div class="form-group">
    <label for="planetName">Name:</label>
    <input type="text" class="form-control" formControlName="planetName" id="planetName">
  </div>
  <div class="form-group">
    <label for="planetMass">Minimale Erdmasse:</label>
    <input type="text" class="form-control" formControlName="planetMass" id="planetMass">
  </div>
  <button class="btn btn-primary" type="button" (click)="onAddPlanet()">Hinzufügen</button>
  <hr>
  <div class="btn-group float-right">
    <button class="btn btn-primary" type="submit" [disabled]="!newStarForm.valid">Speichern</button>
    <button class="btn btn-secondary" type="button" (click)="onCancel()">Verwerfen</button>
  </div>
</form>

