input.ng-invalid.ng-touched{
  border: 1px solid darkred;
}

.inline-header{
  display: inline-block;
}

.card {
  margin-bottom: 2px;
}
.comment-light{
  color: grey;
}
.help-right{
  float: right;
  color: darkred;
}
.label-block{
  display: block;
}
