<h2>Neuen Stern hinzufügen</h2>

<form [formGroup]="newStarForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="starName">Name des Sterns: <strong style="color: red">*</strong></label>
    <input type="text" class="form-control" formControlName="starName" id="starName">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="spectralType">Spektraltyp:</label>
      <input type="text" class="form-control" formControlName="spectralType" id="spectralType">
    </div>
    <div class="form-group col-md-6">
      <label for="distance">Entfernung von der Erde:</label>
      <input type="text" class="form-control" formControlName="distance" id="distance">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="solarMass">Masse:</label>
      <input type="text" class="form-control" formControlName="solarMass" id="solarMass">
    </div>
    <div class="form-group col-md-4">
      <label for="solarRadius">Radius:</label>
      <input type="text" class="form-control" formControlName="solarRadius" id="solarRadius">
    </div>
    <div class="form-group col-md-4">
      <label for="effectiveTemperature">Effektive Temperatur:</label>
      <input type="text" class="form-control" formControlName="effectiveTemperature" id="effectiveTemperature">
    </div>
  </div>
  <hr>
  <div formArrayName="planets">
    <div><h5 class="inline-header">Umkreisende Planeten:</h5>
      <span><button type="button" class="btn btn-primary btn-sm" (click)="onAddNewPlanet()"> Neu + </button></span>
    </div>
    <div class="card" *ngFor="let planetFormGroup of newStarForm.get('planets').controls; let i = index"
         [formGroupName]="i">
      <div class="card-body">
        <div class="form-group">
          <label for="planetName">Name des Planeten: <strong style="color: red">*</strong></label>
          <input type="text" class="form-control" formControlName="planetName" id="planetName">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="planetClass">Planetenklasse:</label>
            <input type="text" class="form-control" formControlName="planetClass" id="planetClass">
          </div>
          <div class="form-group col-md-6">
            <label for="planetPeriod">Umlaufzeit:</label>
            <input type="text" class="form-control" formControlName="planetPeriod" id="planetPeriod">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="planetMass">Masse:</label>
            <input type="text" class="form-control" formControlName="planetMass" id="planetMass">
          </div>
          <div class="form-group col-md-6">
            <label for="planetRadius">Radius:</label>
            <input type="text" class="form-control" formControlName="planetRadius" id="planetRadius">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="planetDistance">Entfernung:</label>
            <input type="text" class="form-control" formControlName="planetDistance" id="planetDistance">
          </div>
          <div class="form-group col-md-6">
            <label for="planetESI">Erdähnlichkeitsindex:</label>
            <input type="text" class="form-control" formControlName="planetESI" id="planetESI">
          </div>
        </div>

      </div>
    </div>

  </div>
  <hr>
  <span class="help-block"><strong style="color: red">*</strong> Pflichtfeld</span>
  <div class="btn-group float-right">
    <button class="btn btn-primary" type="submit" [disabled]="!newStarForm.valid">Speichern</button>
    <button class="btn btn-secondary" type="button" (click)="onCancel()">Verwerfen</button>
  </div>
</form>

