<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr ngc>
        <th>Name</th>
        <th>Klasse</th>
        <th>Masse</th>
        <th>Radius</th>
        <th>Umlaufzeit</th>
        <th>Entfernung</th>
        <th>ESI</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let planet of planets"
          [ngClass]="planet.planetName === planetService.selectedPlanet.planetName ? 'table-warning' : ''">
        <td>{{planet.planetName}}</td>
        <td>{{(planet.planetClass == null) || (planet.planetClass == '') ? 'unbekannt' : planet.planetClass}}</td>
        <td>{{(planet.planetMass == null) || (planet.planetMass == '') ? 'unbekannt' : planet.planetMass}}</td>
        <td>{{(planet.planetRadius == null) || (planet.planetRadius == '') ? 'unbekannt' : planet.planetRadius}}</td>
        <td>{{(planet.planetPeriod == null) || (planet.planetPeriod == '') ? 'unbekannt' : planet.planetPeriod}}</td>
        <td>{{(planet.planetDistance == null) || (planet.planetDistance == '') ? 'unbekannt' : planet.planetDistance}}</td>
        <td>{{(planet.planetESI == null) || (planet.planetESI == '') ? 'unbekannt' : planet.planetESI}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
