<div class="row padding-bottom">
  <div class="col-sm-8 col-md-8 divider-right"><input class="form-control" type="text" placeholder="Suche..."
                                             (keyup)="filterStarList()" #searchFilter></div>
  <div class="col-sm-4 col-md-4">
    <div class="btn-group btn-block" dropdown>
      <button mdbBtn type="button" color="indigo" class="dropdown-toggle" id="button-basic" dropdownToggle
              mdbWavesEffect>
        Sortieren <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem" (click)="sortList('name')">
          <a class="dropdown-item waves-light" mdbWavesEffect>Name</a>
        </li>
        <li role="menuitem" (click)="sortList('distance')">
          <a class="dropdown-item waves-light" mdbWavesEffect>Entfernung</a>
        </li>
        <li role="menuitem" (click)="sortList('mass')">
          <a class="dropdown-item waves-light" mdbWavesEffect>Masse</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ul class="list-group col-12 fixed-height no-padding">
  <li class="list-group-item no-padding animated zoomIn" *ngFor="let star of stars; let i = index"
      [ngStyle]="{'animation-delay.ms':i*50}">
    <app-star-item [star]="star"></app-star-item>
  </li>
</ul>
