.fixed-height {
  display: block;
  overflow-y: auto;
  height: calc(100vh - 12.5rem) ;
  max-height: calc(100vh - 12.5rem);
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.fixed-height::-webkit-scrollbar { width: 0 !important }

.divider-right {
  border-right: 1px solid lightgray;
}

.padding-bottom {
  padding-bottom: 2px;
}
