.fixed-height {
  display: block;
  overflow-y: auto;
  height: calc(100vh - 14rem);
  max-height: calc(100vh - 14rem);
  /*scrollbar-width: none;
  -ms-overflow-style: none;*/
}

/*.fixed-height::-webkit-scrollbar { width: 0 !important }*/

.divider-right {
  border-right: 1px solid lightgray;
}

.padding-bottom {
  padding-bottom: 0;
}

.no-padding{
  padding: 0;
}
