.ng-valid.ng-dirty:not(form):not(.planetForm):not(.card) {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form):not(.planetForm):not(.card) {
  border-left: 5px solid #a94442; /* red */
}

.inline-header {
  display: inline-block;
}

.card {
  margin-bottom: 2px;
}

.comment-light {
  color: grey;
}

.help-right {
  float: right;
  color: red;
}

.label-block {
  display: block;
}

.padding-bottom {
  padding-bottom: 1rem;
}

.card-body{
  background-color: #f2f2f2;
}
