<div class="row justify-content-md-center justify-content-sm-center">
  <div class="col-xs-12 col-sm-8 col-md-4">
    <div class="card">
      <div class="card-body text-center">
        <form (ngSubmit)="onSignup(f)" #f="ngForm">
          <div><h6>Bitte keine echte Daten eingeben!</h6></div>
          <div class="form-group">
            <label class="card-text" for="email">E-Mail</label>
            <input class="form-control" type="email" id="email" name="email" ngModel required>
          </div>
          <div class="form-group">
            <label class="card-text" for="password">Passwort</label>
            <input class="form-control" type="password" id="password" name="password" ngModel required>
          </div>
          <button class="btn btn-primary" type="submit">Registrieren</button>
          <div><span class="help-block" *ngIf="!(helpMessage==='')">{{helpMessage}}</span></div>
        </form>
      </div>
    </div>
  </div>
</div>
