<div class="row text-center justify-content-md-center">
  <div class="col-xs-12 col-sm-6 col-md-2 vertical-center">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <h2>Bitte registrieren</h2>
      <div class="form-group">
        <input class="form-control" type="text" id="name" name="name" placeholder="Name" ngModel>
        <input class="form-control" type="email" id="email" name="email" placeholder="E-Mail-Adresse" ngModel>
        <input class="form-control" type="password" id="password" name="password" placeholder="Passwort" ngModel>
        <small class="text-muted">Bitte kein echte Daten eingeben!</small>
      </div>
      <button mdbBtn color="primary" mdbWavesEffect type="submit">Registrieren</button>
    </form>
  </div>
</div>
