.panel-border {
  border-right: 1px solid lightgray;
}

.limited-height {
  height: calc(100vh - 5rem);
  max-height: calc(100vh - 5rem);
  overflow-y: auto;
}

.fixed-height-col {
  display: block;
  overflow-y: auto;
  height: calc(100vh - 12.5rem) ;
  max-height: calc(100vh - 12.5rem);
  /*scrollbar-width: none;
  -ms-overflow-style: none;*/
}
