<div class="row">
  <div class="col-md-4 panel-border">
    <div class="btn-group btn-block">
      <button type="button" class="btn btn-outline-primary" (click)="onAddStar()"><span
        class="fa fa-plus-square-o"></span> Hinzufügen
      </button>
      <button type="button" class="btn btn-outline-success" (click)="onEditStar()"><span class="fa fa-edit"></span>
        Editieren
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="onRemoveStar()"><span
        class="fa fa-minus-square-o"></span> Entfernen
      </button>
    </div>
    <hr>
    <app-stars-nav></app-stars-nav>
  </div>
  <div class="col-md-8 limited-height">
    <router-outlet></router-outlet>
  </div>
</div>
