.panel-border {
  border-right: 1px solid lightgray;
}

.limited-height {
  height: calc(100vh - 4rem);
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  padding-top: 2rem;
}

.fixed-height-col {
  display: block;
  overflow-y: auto;
  height: 100% ;
  max-height: 100%;
  padding-bottom: 5px;
  /*scrollbar-width: none;
  -ms-overflow-style: none;*/
}

.box-shadow{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
