<div class="row limited-height">
  <div class="col-md-4 panel-border">
    <div class="btn-group btn-block" role="group" tooltip="Nicht angemeldet!" [isDisabled]="auth.isLoggedIn()">
      <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="onAddStar()"
              [disabled]="!auth.isLoggedIn()">
        <mdb-icon fas icon="plus"></mdb-icon>
        Neu
      </button>
      <button mdbBtn type="button" color="indigo" mdbWavesEffect (click)="onEditStar()" [disabled]="!auth.isLoggedIn()">
        <mdb-icon fas icon="pen"></mdb-icon>
        Bearbeiten
      </button>
      <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="onRemoveStar()"
              [disabled]="!auth.isLoggedIn()">
        <mdb-icon fas icon="minus"></mdb-icon>
        Entfernen
      </button>
    </div>
    <hr>
    <app-stars-nav></app-stars-nav>
  </div>
  <div class="col-md-8 fixed-height-col">
    <router-outlet></router-outlet>
  </div>
</div>


