<div class="row justify-content-md-center justify-content-sm-center">
  <div class="col-sm-6 col-md-4 vertical-center ">
    <mdb-card>
      <div class="view rgba-white-slight waves-light" mdbWavesEffect>
        <mdb-card-img src="https://images.unsplash.com/photo-1494022299300-899b96e49893?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                      alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <mdb-card-body>
        <mdb-card-title>
          <h4>Mein Profil</h4>
        </mdb-card-title>
        <mdb-card-text>
          <p><span class="font-weight-bold">Name: </span>{{ details?.name }}</p>
          <p><span class="font-weight-bold">E-Mail-Adresse: </span>{{ details?.email }}</p>
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
