a {
  cursor: pointer;
}

.white-icon {
  font-size: 1.5rem !important;
}

.navbar-expand-sm {
  background-color: #203a46;
}

.active{
  border-bottom: 5px solid #42A948;
}

.navbar{
  padding-bottom: 0 !important;
}
