a {
  cursor: pointer;
}

.white-icon {
  font-size: 1.5rem !important;
}

.navbar-expand-sm {
  background-color: #203a46;
}

.active{
  border-bottom: 5px solid #42A948;
}

.navbar{
  padding-bottom: 0 !important;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
