<div class="row text-center justify-content-md-center">
  <div class="col-xs-12 col-sm-6 col-md-2 vertical-center">
    <form (ngSubmit)="onSignin(f)" #f="ngForm">
      <h2>Bitte anmelden</h2>
      <div class="form-group">
        <input class="form-control" type="email" id="email" name="email" placeholder="E-Mail-Adresse" ngModel>
        <input class="form-control" type="password" id="password" name="password" placeholder="Passwort"
               aria-describedby="passwordHelpInline" ngModel>
        <small id="passwordHelpInline" class="form-text text-muted">Zum testen können Sie 'test@testmail.de' als E-Mail
          und 'passwort' als Passwort eingeben oder ein neues Konto registrieren.
        </small>
      </div>
      <hr>
      <p>Noch kein Konto? Dann hier <a routerLink="/signup">registrieren</a>.</p>
      <button mdbBtn color="primary" mdbWavesEffect type="submit">Anmelden</button>
    </form>
  </div>
</div>
