.full-height {
  height: calc(100vh - 3rem);
  max-height: calc(100vh - 3rem);
  background-color: grey;
  padding: 0;
}

#guest-access {
  background-image: url("../../assets/explorer.jpg");
}

#user-access {
  background-image: url("../../assets/astronaut.jpg");
}

#guest-access:hover, #user-access:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#logged-user {
  background-image: url("../../assets/planet.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#welcome-text {
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gray-filter {
  transition: filter 1s ease-in-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  cursor: pointer;
}

.glow {
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
  transition: text-shadow 3s ease-in-out;
}

div:hover > .glow {
  text-shadow: 0 0 5px #fff,
  0 0 10px #fffae6,
  0 0 20px #fff5cc,
  0 0 40px #fff0b3,
  0 0 80px #ffeb99,
  0 0 90px #ffe680,
  0 0 100px #ffe066,
  0 0 150px #ffdb4d,
  0 0 200px #ffd633;
}
