<div class="row" *ngIf="!status; else elseBlock">
  <div class="col-sm-12 col-md-6  text-center full-height gray-filter" id="guest-access" routerLink="/stars">
    <p class="vertical-center glow">Als Gast entdecken</p>
  </div>
  <div class="col-sm-12 col-md-6 text-center full-height gray-filter" id="user-access" routerLink="/signin">
    <p class="vertical-center glow">Anmelden/Registrien</p>
  </div>
</div>
<ng-template #elseBlock>
  <div class="row">
    <div class="col-md-12 full-height text-center bg text-white">
      <div class="vertical-center">
        <h1 class="wow fadeIn welcome-text" data-wow-delay="1.5s" data-wow-duration="2s">Hallo, {{name}}!</h1>
        <hr>
        <div class="row wow fadeIn" data-wow-delay="2s" data-wow-duration="2s">
          <div class="col-md-5 welcome-text cursor-pointer" routerLink="/stars">
            <h5>
              <mdb-icon fas icon="chevron-left"></mdb-icon>
              Sterne bewundern
            </h5>
          </div>
          <div class="col-md-7 welcome-text cursor-pointer" routerLink="/planets">
            <h5>Planeten entdecken
              <mdb-icon fas icon="chevron-right"></mdb-icon>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<a mdbBtn href="https://github.com/valentinprotiuc/stars-and-planets/tree/master/src/app/home"
   class="btn-circle absolute-position" type="button" color="indigo" mdbWavesEffect>
  <mdb-icon fas icon="question" class="text-white"></mdb-icon>
</a>
